<!-- templates/home.html -->
{% extends "payments/base.html" %}
{% load static %}
{% block content %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <h1>Lets buy some Silverex!</h1>
  <p>Silverex is an anti-bacteril spray that is friendly for your skin and can be re-used indefinitely.</p>
  <section class="section">
    <div class="container">
      <div class="form-group">
        <label for="formGroupExampleInput">Qty</label>
        <input type="number" name="quantity" id="quantity" min="0" max="1300" step="1" value="3">
        <br>
        <button class="button is-primary" id="submitBtn">Buy Now</button>
        <br>
      </div>
    </div>
  </section>
{% endblock content %}